body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER STYLES */

header {
  border: 1px solid red;
}

/* TASK LIST STYLES */

.tasks-list {
  border: 1px solid orange;
}

/* TASK STYLES */

.task {
  border: 1px solid yellow;
}

/* BUTTON STYLES */