body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 800px;
  width: 600px;
  margin-top: 10px;
}

/* UNIVERSAL STYLES */
button {
  font-size: 14px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  border: none;
  
}

/* HEADER STYLES */

header {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding: 10px;
  margin-left: 10px;
}

/* TASK LIST STYLES */

.tasks-list {
  margin-top: 10px;
}

/* TASK STYLES */

.task {
  border: 1px solid black;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  box-shadow: 5px 5px 5px #b3b3b3;
}

.due-day {
  width: 100px;
  text-align: center;
  margin: auto 0;
  font-size: 12px;
  color: #292929;
}

.task-info {
  width: 435px;
  padding: 3px 10px;
  border-left: 1px solid black;
}

.task-modify {
  display: flex;
  flex-direction: column;
}

.task h2 {
  font-size: 14px;
  color: black;
  margin: 3px 0px;
}

.task-info p {
  width: 420px;
  margin: 0;
  font-size: 12px;
  color: #525252;
  overflow-wrap: break-word;
}

/* BUTTON STYLES */

.add {
  height: 50px;
  width: 75px;
  margin-right: 15px;
  background-color: #90be6d;
}

.edit {
  background-color: #f9c74f;
  border-top-right-radius: 5px;
}

.delete {
  background-color: #f94144;
  border-bottom-right-radius: 4px;
}